*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Assistant', sans-serif;
  
}

header{
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
  height: 80px;
  box-shadow: 2px 2px 50px rgb(201, 196, 196);
  position: sticky;
  top: 0px;
}

.myntra-logo{
  height: 45px;
}

.logo-container{
  margin-left: 4%;
  
}

.nav-bar a {
  font-size: 14px;
  letter-spacing: .3px;
  color: #282c3f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 28px 0;
  border-bottom: 4px solid #ffffff;
}

.nav-bar a:hover {
  border-bottom: 4px solid #f54e77;
}

.nav-bar a sup {
  color: #ff3f6c;
  font-size: 10px;
}


.nav-bar{
  display: flex;
  min-width: 500px;
  justify-content: space-evenly;
}

.search-bar {
  height: 40px;
  min-width: 200px;
  width: 30%;
  display: flex;
  align-items: center;
}

.search-icon {
  box-sizing: content-box;
  height: 20px;
  padding: 10px;

  background-color: #f5f5f6;
  color: #282c3f;
  font-weight: 300;
  border-radius: 4px 0 0 4px;
}

.search-input {
  color: #696e79;
  background-color: #f5f5f6;
  flex-grow: 1;
  height: 40px;
  border: 0;
  border-radius: 0 4px 4px 0;
}

profile-container{
  margin-right: 4%;
}

.action-bar {
  display: flex;
  min-width: 200px;
  justify-content: space-evenly;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner_container {
  margin: 40px 0;
}
.banner_image {
  width: 100%;
}


.category_heading {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: .15em;
  font-size: 1.8em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 700;
}

.category_items , .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sale_item {
  width: 250px;
}

.footer_container {
  padding: 30px 0px 40px 0px;
  background: #FAFBFC;
  display: flex;
  justify-content: space-evenly;
}

.footer_column {
  display: flex;
  flex-direction: column;
}

.footer_column h3 {
  color: #282c3f;
  font-size: 14px;
  margin-bottom: 25px;
}

.footer_column a {
  color: #696b79;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 5px;
}

.copyright {
  color: #94969f;
  text-align: end;
  padding: 15px;
}

/* main */

.container{
  width: 80%;
  margin: 40px 10%;
}

.img-container{
  width: 250px;
  margin: 10px;
}

.img-item{
  width: 100%;
}

.rating{
  font-size: 12px;
  font-weight: 700;
  
}

.company-name{
  margin-top: 15px; 
  font-size: 16px;
   font-weight: 700; 
   line-height: 1; 
   color: #282c3f; 
   margin-bottom: 6px;
   overflow: hidden; 
   text-overflow: ellipsis;
   white-space: nowrap;
}

.item-name{
 color: #535766;
 font-size: 14px;
 line-height: 1;
 margin-bottom: 0;
 margin-top: 0;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
 font-weight: 400;
 display: block;
}

.price{
  margin-top: 5px;
}

.current-price{
 font-size: 14px;
 font-weight: 700;
 color: #282c3f;
}

.original-price{
 text-decoration: line-through;
 color: #7e818c;
 font-weight: 400;
 margin-left: 5px;
 font-size: 12px;
}

.discount{
 color: #ff905a;
 font-weight: 400;
 font-size: 12px;
 margin-left: 5px;
}

.btn-add{
  margin-top: 5px;
  font-size: 18px;
  width: 100%;
  background-color: lightgreen;
  border: none;
  padding: 5px 0px;
  border-radius: 15px;
  font-weight: 500;
  cursor: pointer;
}

.bag-item-count{
  background-color: #f16565;
  white-space: nowrap;
  text-align: center;
  line-height: 18px;
  padding: 0 6px;
  height: 18px;
  position: relative;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  left: 13px;
  top: -44px;
  font-weight: 700;
  cursor: pointer;
}

.profile-container{
  text-decoration: none;
  color: black;
}

