@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    background-color: antiquewhite;
}

nav ul{
 
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 4.2rem;
    background-color: black;
    color: antiquewhite;
    gap: 2rem;
    list-style-type: none;
    font-size: 1rem;
    font-weight: 600;


}

#tag-name{
    margin-left: -1.5rem;
    font-size: 1.3rem;
    padding-top: .7rem;

}

.logo{
    padding-top: .3rem;
    height: 4rem;
    width: 4rem;
    object-fit: cover;
}

.container p{
    font-size: 1.4rem;
    color: white;
    font-weight: 600;
    
}

.container{
    margin: 3.5rem auto;
    padding: 1.5rem;
    font-weight: 600;
    height: 70vh;
    color: white;
    border-radius: 1rem;
    width: 70%;
    background-image: url(/images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}

.bottom{
    position: sticky;
    height: 6rem;
    color: white;
    background-color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons{
    margin-top: .2rem; 
    font-size: 1.5rem;
}
.icons i{
    cursor: pointer;
}

#my-progress-bar{
    
    -webkit-appearance:none;
    width: 80vh;
    background:green;
    cursor: pointer;
    height: .2rem;
    
}

.song-item img{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.song-item{
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    width: 40%;
    border-radius: 1rem;
    padding: 0.1rem .5rem;
    align-items: center;
    margin-top: .5rem;

}
.currrent-song-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    position: absolute;
    left: 48vh;
    margin-top: .2rem;

}
#gif-logo{
    height: 1.2rem;
    width: 3.2rem;
    margin-top: .2rem;
}

.time-stamp{
    cursor: pointer;
}

#current-song{
    font-weight: 600;
}

#gif-logo{
    opacity: 0;
   

}