*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: rgb(5, 241, 198);
}

#clock-container{
    position: relative;
    margin: 5vw auto;
    width: 40vw;
    height: 40vw;
    background: url("/images/clock.png") no-repeat;
    background-size: 100%;


}

#hour, #minute, #second{
     position: absolute;
     border-radius: 10px;
     transform-origin: bottom;
     background: black;
}

#hour{

    width: 1.8%;
    height: 25%;
    left: 48.85%;
    top: 25%;
    opacity: 0.8;
}

#minute{
  
    width: 1.6%;
    height: 30%;
    left: 48.9%;
    top: 19%;
    opacity: 0.8;
}

#second{
    background-color: red;
    width: 1%;
    height: 40%;
    left: 49.25%;
    top: 9%;
    opacity: 0.8;
}